.footer {
  position: relative;
  height: 530px;
  background-image: linear-gradient(
      180deg,
      rgba(35, 31, 32, 0.6) 0%,
      rgba(35, 31, 32, 0.6) 100%
    ),
    url(../images/footer/item-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center, -60px 0;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        180deg,
        rgba(35, 31, 32, 0.6) 0%,
        rgba(35, 31, 32, 0.6) 100%
      ),
      url(../images/footer/item-1@2x.jpg);
  }
}

.logo-footer {
  position: absolute;
  top: 15px;
  left: 10px;
}

.social-list {
  margin-top: 110px;
  margin-bottom: 50px;

  .item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.social-link {
  font-size: 21px;
  font-weight: 700;
  color: var(--accent-cl);
}

address {
  margin-bottom: 70px;
  font-style: normal;

  .phone-number {
    color: var(--accent-cl);
  }
}

.policy {
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--accent-cl);
}

.copy {
  position: absolute;
  bottom: 25px;
  left: 50%;
  width: 205px;
  transform: translateX(-50%);
  font-weight: 700;
  color: var(--accent-cl);
}
