.benefits-list {
  .item {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  }
}

.benefits-text {
  display: flex;
  align-items: center;
  font-family: "Oswald", sans-serif;
  font-size: 21px;
  line-height: 1.3;
  text-transform: uppercase;

  &::before {
    content: "";
    display: block;
    margin-right: 10px;
    min-width: 10px;
    height: 10px;
    background-image: url(../images/icons/order.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
