.section-product {
  .box-img {
    position: relative;
    margin-bottom: 20px;
  }
}

.product-sale {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  color: var(--accent-cl);
  background-color: var(--main-cl);
  border-radius: 50%;

  .heading {
    font-weight: 700;
  }
}

.characteristics-list {
  margin-bottom: 60px;

  .item {
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    &.item-size,
    &.item-color {
      display: flex;
      align-items: center;
    }
  }

  .characteristics-title {
    font-family: "Oswald", sans-serif;
    font-size: 21px;
  }

  .product-color {
    display: inline-block;
    margin-left: 10px;
    width: 50px;
    height: 30px;
    background-color: black;
    border-radius: 3px;
  }

  .new-price {
    font-size: 26px;
  }

  .old-price {
    text-decoration: line-through;
  }
}

.box-btn-size {
  margin-left: 10px;

  .size-btn {
    width: 55px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--main-cl);
    background-color: transparent;
    border: 2px solid var(--main-cl);
    transition: var(--transition-settings);

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.size-btn.size-btn__is-current {
  font-weight: 700;
  color: var(--accent-cl);
  background-color: var(--main-cl);
}
