.section-reviews {
  background-color: var(--main-cl);
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../images/reviews/brand.jpg);
  background-repeat: no-repeat;
  background-size: cover, 400px;
  background-position: center center;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.8) 100%
      ),
      url(../images/reviews/brand@2x.jpg);
  }
}

.reviews-title {
  margin-bottom: 50px;
  color: var(--accent-cl);
}

.reviews-slider {
  padding-bottom: 20px;
  overflow: hidden;

  .swiper-pagination {
    bottom: -5px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: var(--accent-cl);
    // background-color: var(--main-cl);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
