.order-btn {
  display: block;
  margin: 0 auto;
  padding: 15px 40px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-weight: 500;
  color: var(--accent-cl);
  background-color: var(--main-cl);
  border: none;
  transition: var(--transition-settings);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(35, 31, 32, 0.6);

  &:active {
    background-color: rgba(35, 31, 32, 0.6);
  }
}
