.section-title {
  margin-bottom: 30px;
  font-family: "Oswald", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;

  .brand {
    font-family: "Italiana", serif;
    font-size: 36px;
    text-transform: capitalize;
  }
}
